[Unit]
Description=P1P2 gateway
Wants=network-online.target
After=network-online.target

[Service]
Environment="GIN_MODE=release"
ExecStart=/usr/bin/p1p2gateway

[Install]
WantedBy=multi-user.target
